---
import type { Post } from '#pods/post-collection/post-collection.model';
import Header from '#pods/post/components/header.astro';
import Body from '#pods/post/components/body.astro';

interface Props {
  postEntry: Post;
}

const { postEntry } = Astro.props;


const postContent = {
  backButton: 'Volver',
  published: 'Publicado el',
};
---

<section class="flex shrink grow flex-col gap-12 px-6 py-4">
  <Header gobackText={postContent.backButton} publishedText={postContent.published} date={postEntry.date} />
  <Body entry={postEntry} />
</section>
