---
import Layout from '#layouts/layout.astro';
import ContactButtons from '#components/contact-buttons.astro';
import ExperienceCollectionPod from '#pods/experience-collection/experience-collection.pod.astro';
import MiniBioPod from '#pods/mini-bio/mini-bio.pod.astro';
import ToolCollectionPod from '#pods/tool-collection/tool-collection.pod.astro';

const contactContent = {
  heading: 'Contacto',
  description:
    '¿Tienes un proyecto en mente o necesitas un desarrollador capaz de llevar tus ideas a la realidad? Estaré encantado de escucharte. Puedes contactarme para colaboraciones, propuestas laborales o cualquier consulta relacionada con desarrollo web.',
};
---

<Layout title="DrDev Portfolio">
  <MiniBioPod type="hero" slot="hero" />

  <ExperienceCollectionPod />

  <Fragment slot="aside">
    <ToolCollectionPod />

    <!-- Contact -->
    <section
      aria-labelledby="contact-aside-heading"
      class="bg-primary-50 dark:bg-primary-100 flex flex-col items-center gap-4 rounded-2xl p-6 text-center md:items-start md:text-start"
    >
      <h2 class="font-geist font-bold" id="contact-aside-heading">{contactContent.heading}</h2>
      <p class="text-sm">{contactContent.description}</p>
      <ContactButtons />
    </section>
  </Fragment>
</Layout>
